input {
    height: 23px;
}

#options, #output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#options .option, #password {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

#options .option label, #password label {
    padding-left: 0.1em;
    margin-bottom: 0.25em;
}

#options .option > span, #output span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#output {
    margin: 0.5em 0;
}

#limit-input {
    width: 6ch;
}

#remeber-secret label {
    font-size: 0.8em;
}

#password-input {
    width: 44ch;
}
