input {
    height: 23px;
}

#options, #output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#options .option, #password {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

#options .option label, #password label {
    padding-left: 0.1em;
    margin-bottom: 0.25em;
}

#options .option > span, #output span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#output {
    margin: 0.5em 0;
}

#limit-input {
    width: 6ch;
}

#remember-secret label {
    font-size: 0.8em;
}

#charset.option {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

#charset.option > span {
    margin: 0.125em;
}

#charset.option input[type="checkbox"] {
    display: none;
}

#charset.option label {
    background-color: whitesmoke;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    padding: 0.2em;
}

#charset.option input:not(:checked) + label {
    text-decoration: line-through;
}

#password-input {
    width: 44ch;
}
